body {
  background-color: #3E8468;
  color: #E1D7C1;
  font-family: optima, veranda, arial, helvetica, sans-sarif;
  margin: 10% 20%
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: solid 1px #E1D7C1;
  border-bottom: solid 1px #E1D7C1;
  background-color: rgba(0,0,0, 0.2)
}

h1 {
  font-size: 25px
}

img {
  margin: auto;
  padding: 65px;
  width: 50%;
  }

h5 {
  display: inline-block;
}

h6 {
  display: inline-block;
  text-align: right;
  font-size: 12px
}

ul {
  font-size: 14px
}
